.card-about  {
    padding-top: 30px;
    padding-bottom: 10px;

    h2 {
      @include title($font-family, $font-color-white, 38px, 700, none);
      text-transform: uppercase;
    }

    p {
      @include text($font-family, $font-color-p, 18px, none, none);
    }

    iframe {
      height: 150px;
      padding-top: 10px;
    }

  }


