.card-about-travel {
    font-family: Poppins, sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: center;
  
    h2 {
      color: white;
      font-size: 32px;
      font-weight: 900;
      text-transform: uppercase;
    }
  
    p {
      color: gray;
      font-size: 18px;
    }
    
  }
  
  .card-about-place {
    font-family: Poppins, sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: center;
  
    h2 {
      color: white;
      font-size: 32px;
      font-weight: 900;
      text-transform: uppercase;
    }
  
    p {
      color: gray;
      font-size: 18px;
    }
  
    iframe {
      height: 300px;
    }
    
  }
  
  .card-about-music {
    font-family: Poppins, sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: center;
  
    h2 {
      color: white;
      font-size: 32px;
      font-weight: 900;
      text-transform: uppercase;
    }
  
    p {
      font-family: Poppins, sans-serif;
      color: gray;
      font-size: 18px;
    }
  
    iframe {
      height: 300px;
    }
  }
  
  