.card-about-travel, .card-about-place, .card-about-music {
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: center;

    h2 {
      @include title($font-family, $font-color-white, 32px, 900, bold);
      text-transform: uppercase;
    }

    p {
      @include text($font-family, $font-color-p, 18px, none, none);
    }

    iframe {
      height: 300px;
    }

  }
  

  