.form-contact {
    width: 700px;
    background-color: #272932;
    margin: 40px auto; /* top=40px right=auto*/
    margin-bottom: 150px;
    border-radius: 5px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "contact-me    contact-me" "name          email" 
                            "phone         subject" 
                            "message       message" 
                            "button        button";
  
    h1 {
      grid-area: contact-me;
      @include title($font-family, $font-color-white, 48px, 700, bold);
      text-transform: uppercase;
      padding: 10px;
      text-align: center;
  
    }
  
    label {
      @include label($font-family, $font-color-white, 18px, 200, none, none, $bg-color);
      display: flex;
      flex-direction: column;
      padding: 10px;
  
      &:nth-child(2) {
        grid-area: name;
      }
  
      &:nth-child(3) {
        grid-area: email;
      }
  
      &:nth-child(4) {
        grid-area: phone;
      }
  
      &:nth-child(5) {
        grid-area: subject;
      }
  
      &:nth-child(6) {
        grid-area: message;
      }
  
      input, textarea{
        @include text($font-family, $font-color-white, 18px, 200, normal);
        background-color: #272932;
        border: none;
        border-bottom: 1px solid white;
        padding: 10px;
      }  
    }
  
    button {
      @include button(dimgrey, white, 20px, 800, none, none, none);
      grid-area: button;
    }
    
  }
  
  @media (max-width: 750px) {
    .form-contact {
      width: auto;
      margin: 40px 0px;
      border-radius: none;
      grid-template-columns: 1fr;
      grid-template-areas: "contact-me" "name" "email" "phone" "subject" "message" "button";
    }
  }
  
.gradiente{
  @include gradient-radial(100%, 100%, circle, gray, var(--col-primary));
}
