%button {
    font-family: $font-family, sans-serif;
    display: inline-block;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

// .button {
//     @extend % button;
//     background-color: black;
// }