@mixin button ($bg-color, $font-color, $font-size, $font-weight, $width, $height, $transition) {
    background-color: $bg-color;
    color: $font-color;
    font-size: $font-size;
    font-weight: $font-weight;
    width: $width;
    height: $height;
    transition: $transition;
    border: none;
    font-family: $font-family, sans-serif;
    display: inline-block;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

@mixin label($bg-color, $font-color, $font-size, $font-weight, $width, $height) {
    background-color: $bg-color;
    color: $font-color;
    font-size: $font-size;
    font-weight: $font-weight;
    width: $width;
    height: $height;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

@mixin title($font-family, $font-color, $font-size, $font-weight, $style) {
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $style;
}

@mixin text($family, $color, $size, $weight, $style) {
    font-family: $family;
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
}