
.navigation {
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;

    .fa-bars {
        display: none;
      }
      
    .nav-link {
        ul {
            display: flex;
            list-style: none;
            transition: 0.5s;
            padding-left: 0px;

            li {
                display: flex;

                a {
                    display: flex;
                    text-decoration: none;
                    padding: 20px 20px 20px 0px;
                    color: var(--col-text);
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $font-family, sans-serif;
                  }

              }

            }
        }


    .nav-button {

        ul {
            display: flex;
            list-style: none;

            li {
              display: flex;

              input {
                margin-right: 5px;

              }&::before {
                transition: 0.3s;
              }

              label {
                  display: flex;
                  text-decoration: none;
                  padding: 20px 20px 20px 0px;
                  color: var(--col-text);
                  font-size: 18px;
                  font-weight: 500;
                  font-family: $font-family, sans-serif;
                }

            }

          }
    }



}

@media (max-width: 550px) {

    .navigation {
        .fa-bars {
            display: block;
            font-size: 32px;
            margin: 10px;
            color: var(--col-text);
          }

          .fa-bars:hover + ul {
            left: 0;
          }

          .nav-link ul:hover {
            left: 0;
          }

          .nav-link ul {
            left: -350px;
            top: 0;
            position: fixed;
            background-color: var(--col-primary);
            width: 250px;
            height: 100vh;
            z-index: 5;
            flex-direction: column;
            justify-content: start;
            align-items: center;

          }
    }

}










