


:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  }



.navigation {
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
    align-items: center;

    .fa-bars {
        display: none;
      }
      
    .nav-link {
        ul {
            display: flex;
            list-style: none;
            transition: 0.5s;
            padding-left: 0px;

            li {
                display: flex;

                a {
                    display: flex;
                    text-decoration: none;
                    padding: 20px 20px 20px 0px;
                    color: var(--col-text);
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $font-family, sans-serif;
                  }

              }

            }
        }

    .nav-button {
   

        .toggle-switch {
          position: relative;
          width: 60px;
        

        label {
          // position: absolute;
          width: 100%;
          height: 32px;
          background-color: var(--dark);
          border-radius: 50px;
          cursor: pointer;
          }
        
          input {
          // position: absolute;
          display: none;
          }
        
          .slider {
          position: absolute;
          width: 100%;
          height: 90%;
          border-radius: 50px;
          transition: 0.3s;
          }
        
          input:checked ~ .slider {
          background-color: var(--light);
          }
        
          .slider::before {
          content: "";
          position: absolute;
          top: 2px;
          left: 10px;
          width: 28px; 
          height: 28px;
          border-radius: 50%;
          box-shadow: inset 7px -4px 0px 0px var(--light);
          background-color: var(--dark);
          transition: 0.3s;
          }
        
          input:checked ~ .slider::before {
          transform: translateX(18px);
          background-color: var(--dark);
          box-shadow: none;
          }
        
        }

      }
}

@media (max-width: 550px) {

    .navigation {
        .fa-bars {
            display: block;
            font-size: 32px;
            margin: 10px;
            color: var(--col-text);
          }

          .fa-bars:hover + ul {
            left: 0;
          }

          .nav-link ul:hover {
            left: 0;
          }

          .nav-link ul {
            left: -350px;
            top: 0;
            position: fixed;
            background-color: var(--col-primary);
            width: 250px;
            height: 100vh;
            z-index: 5;
            flex-direction: column;
            justify-content: start;
            align-items: center;

          }
    }

}
