.card-portfolio {
    margin-top: 20px;

    h2 {
        @include title($font-family, $font-color-white, 28px, bold, normal);
        text-transform: uppercase;
    }

    p {
        @include text($font-family, $font-color-grey, 16px, 300, normal);
      }

    img {
        @include image(normal, 10px, 0.5);
        transition: 0.5s;
        
        &:hover {
            opacity: 1;
          }

      }

    .technology {
      i {
        @include icon($font-color-white, 24px);
        width: 48px;
        text-align:left;
        padding: 5px;
      }
      p {
        @include text($font-family, $font-color-white, 16px, bold, normal);
        padding: 5px;
        margin: 0;
      }
    }         
}


