
.card-presentation {
    h1 {
        font-family: $font-family, sans-serif;
        color: $font-color-white;
        font-size: 38px;
        padding-top: 15px;
      }
    h2 {
        font-family: $font-family, sans-serif;
        color: $font-color-grey;
        font-size: 18px;
      }
    p {
        font-family: $font-family, sans-serif;
        font-size: $font-size-p;
        color: $font-color-p;
        padding-top: 15px;
        padding-bottom: 15px;
      }
  
    .btn-talk {
        @include button(blue, white, 16px, 500, 150px, none, 0);

        &:hover {
          background-color: #008CBA;
          color: white;
        } 
      
      }
  
    .btn-cv {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        border: none;
        border-radius: 10px;
        background-color: gray;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
        margin:5px ;
        transition: all 0.5s;
        width: 150px;
  
        &:hover span {
          padding-right: 25px;
        }
  
        &:hover span:after {
          opacity: 1;
          right: 0;
        }
  
        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
  
          &:after {
            content: "»";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
  
          a {
            text-decoration: none;
            color: white;
          }
  
        }
  
      }

    .divider {
        margin-top: 15px;
        border-top: 1px solid #bbb;
    }
  }
  

  .card-skills {
    label {
      @include label (none, white, 14px, none, none, none);
    }
  }
