
.card-presentation {

    h1 {
      @include title($font-family, var(--col-text), 42px, 700, none);
      padding-top: 15px;
      text-transform: uppercase;
      }

    h2 {
        @include title($font-family, $font-color-grey, 18px, none, none);
      }

    p {
        @include text($font-family, $font-color-p, 16px, none, none);
        padding-top: 15px;
        padding-bottom: 15px;
      }
  
    .btn-talk {
        @include button(blue, white, 16px, 500, 150px, none, 0);

        &:hover {
          background-color: #008CBA;
          color: white;
        } 
      
      }
  
    .btn-cv {
        @include button(gray, white, 16px, 500, 150px, none, 0);
        transition: all 0.5s;

        &:hover span {
          padding-right: 25px;
        }

        &:hover span:after {
          opacity: 1;
          right: 0;
        }

        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;

          &:after {
            content: "»";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }

          a {
            text-decoration: none;
            color: white;
          }

        }

      }

    img {
     width: 60%;
     height: 60%;
  
    }  
  }
  

.card-skills {
  
    label {
      @include label ($font-family, var(--col-text), 14px, none, none, none, none);
    }
}
