
$bg-color:#272932;
$font-color-white: whitesmoke;
$font-color-grey: grey;
$font-color-black: black;
$font-family: Poppins;
$font-size-p: 16px;
$font-color-p: grey;



@font-face {
    font-family: lato-bold;
    src: url("../fonts//Lato-Light.ttf");
  }
  
  
  