$dark-mode: false;
$bg-color:#272932;
$bg-color-footer:black;
$font-color-white: whitesmoke;
$font-color-grey: grey;
$font-color-black: black;
$font-family: 'Poppins', 'sans-serif';
$font-family-lato-bold: lato-bold;
$font-size-p: 16px;
$font-color-p: grey;

// Variables para manejar el modo "dark"
$col-primary: whitesmoke;
$col-secondary: #272932;

@font-face {
    font-family: lato-bold;
    src: url("../fonts//Lato-Light.ttf");
  }
  
  
  